PORT=3000

TTN_HOST=eu1.cloud.thethings.network
TTN_PORT=8883
TTN_APP_ID=chicken-coop-thesis
TTN_TENANT=ttn
TTN_DEVICE_ID=lora-e5-mini
TTN_API_KEY=

INFLUX_URL=http://localhost:8086
INFLUX_ORG=kurnik
INFLUX_BUCKET=coop
INFLUX_TOKEN=
INFLUX_USER=kurnik
INFLUX_PASSWORD=
