PORT=3000
TZ=Europe/Prague
NEST_COUNT=2

AUTH_USER=kurnik
AUTH_PASSWORD=

TTN_HOST=eu1.cloud.thethings.network
TTN_PORT=8883
TTN_APP_ID=chicken-coop-thesis
TTN_TENANT=ttn
TTN_DEVICE_ID=lora-e5-mini
TTN_API_KEY=
